* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    background-color: #87ceeb;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.title {
    font-size: 2.5em;
    user-select: none;
}

.main-container {
    flex: 1;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-box {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1em;
    border: none;
}

input:focus{
    outline: none;
    border: none;
}

.btn {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background-color: #838383;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.photo-item {
    width: 150px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.photo-item:hover {
    background-color: #838383;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.photo-name {
    padding: 10px;
    font-size: 1em;
    color: #83ceeb;
}

.no-results {
    text-align: center;
    font-size: 2em;
    color: #000;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.footer-container {
    background-color: #83ceeb;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}
